@use "./variables" as *;
@use "./mixins" as *;
@use "./placeholders" as *;

.mask-image {
  &::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(3, 15, 47, 0.16) 0%,
      rgba(3, 15, 47, 0.16) 100%
    );
  }
}

.tile-separator {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: calc(100% + $indent-16);

    position: absolute;
    top: calc($indent-16 * -1);
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: rgba($color-white, 0.08);
  }

  &.tile-separator--desktop-only {
    &::after {
      @include screen-small-down {
        display: none;
      }
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  white-space: nowrap;
}

.hide {
  display: none;
}

.hide-large {
  @include screen-large-down {
    display: none;
  }
}

.hide-medium {
  @include screen-medium-down {
    display: none;
  }
}

.hide-small {
  @include screen-small-down {
    display: none;
  }
}

.hide-medium {
  @include screen-medium-down {
    display: none;
  }
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.overflow-hidden-y {
  overflow-y: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

.grid-col-all {
  @include grid-columns-span-all;
}